<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:beans="http://www.springframework.org/schema/beans"
    xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
 
    <beans:bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
        destroy-method="close">
        <beans:property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <beans:property name="url"
            value="jdbc:mysql://localhost:3306/helpy" />
        <beans:property name="username" value="root" />
        <beans:property name="password" value="root" />
    </beans:bean>
 
    <!-- Hibernate 4 SessionFactory Bean definition -->
    <beans:bean id="sessionFactory"
        class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <beans:property name="dataSource" ref="dataSource" />
        <beans:property name="annotatedClasses">
            <beans:list>
                <beans:value>com.helpyacademy.dao.model.Admin</beans:value>
                <beans:value>com.helpyacademy.dao.model.Conference</beans:value>
                <beans:value>com.helpyacademy.dao.model.Diplome</beans:value>
                <beans:value>com.helpyacademy.dao.model.Enseigner</beans:value>
                <beans:value>com.helpyacademy.dao.model.Etudiant</beans:value>
                <beans:value>com.helpyacademy.dao.model.Matiere</beans:value>
                <beans:value>com.helpyacademy.dao.model.Message</beans:value>
                <beans:value>com.helpyacademy.dao.model.Niveau</beans:value>
                <beans:value>com.helpyacademy.dao.model.Note</beans:value>
                <beans:value>com.helpyacademy.dao.model.Professeur</beans:value>
            </beans:list>
        </beans:property>
        <beans:property name="hibernateProperties">
            <beans:props>
                <beans:prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect
                </beans:prop>
                <beans:prop key="hibernate.show_sql">true</beans:prop>
            </beans:props>
        </beans:property>
    </beans:bean>
    
    <!-- ++++++++++++    Etudiant    +++++++++++++ -->
    <beans:bean id="etudiantDAO" class="com.helpyacademy.dao.EtudiantDAOImpl">
        <beans:property name="sessionFactory" ref="sessionFactory" />
    </beans:bean>
    <beans:bean id="etudiantService" class="com.helpyacademy.service.EtudiantServiceImpl">
        <beans:property name="etudiantDAO" ref="etudiantDAO"/>
    </beans:bean>
    <beans:bean id="etudiantBean" class="com.helpyacademy.bean.EtudiantBean">
        <beans:property name="etudiantService" ref="etudiantService" />
        <beans:property name="isPwdValid" value="true"/>
        <beans:property name="emailExiste" value="false" />
    </beans:bean>
    
 
</beans:beans>